<ion-view view-title="Directory">
  <ion-content>
  	<div class="list">
  		<div class="directory-category">
  			<img src="img/directory_graffiti.png">
  			<h2>Graffiti</h2>
  		</div>
  		<div class="directory-category">
  			<img src="img/directory_painting.png">
  			<h2>Painting</h2>
  		</div>
  		<div class="directory-category">
  			<img src="img/directory_sculpture.png">
  			<h2>Sculpture</h2>
  		</div>
  		<div class="directory-category">
  			<img src="img/directory_stencil.png">
  			<h2>Stencil</h2>
  		</div>
  	</div>
  </ion-content>
</ion-view>
