<ion-view view-title="Views">
  <ion-nav-buttons side="left">
    <a href="#" class="button button-clear">Map</a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a href="#" class="button button-clear"><i class="ion-android-add"></i></a>
  </ion-nav-buttons>
  <ion-content>
    <div class="list" ng-controller="ViewsCtrl">
      <a class="item" ng-repeat="view in viewlist" href="#">
        <!-- <img ng-src="{{view.image}}"> -->
        <h3>{{view.description}}</h3>
        <h6>Posted by {{view.author}}</h6>
        <h6><i class="ion-ios-location"></i> {{view.distance}} miles away</h6>
      </a>
    </div>
  </ion-content>
</ion-view>
