<ion-view view-title="Account Setup">
    <ion-content>
	  	<div class="list">
	  		<img ng-src="{{user.photoURL}}" ng-show="user.photoURL">
	  		<button class="button button-stable" ng-click="getProfilePic()">Create Avatar</button>
			<label class="item item-input item-floating-label">
			    <span class="input-label">Display Name</span>
			    <input type="text" placeholder="Display Name" ng-model="user.displayName">
			</label>
			<button class="button button-block button-positive" ng-click="addUserInfo()">Let's Go!</button>
		</div>
    </ion-content>
</ion-view>