<ion-view view-title="Account Setup">
    <ion-content>
	  	<div class="list">
	  		<div class="avatar-container" ng-show="user.photoURL">
				<img ng-src="{{user.photoURL}}">
			</div>
	  		<button class="button button-outline button-stable photo-button" ng-click="showActionSheet()"><i class="icon ion-ios-camera-outline"></i> Create Avatar</button>
			<label class="item item-input item-floating-label">
			    <span class="input-label">Display Name</span>
			    <input type="text" placeholder="Display Name" ng-model="user.displayName">
			</label>
			<button class="button button-block button-positive" ng-click="addUserInfo()">Submit</button>
		</div>
    </ion-content>
</ion-view>