<ion-view view-title="Login" hide-nav-bar="true">
    <ion-content>
  		<div class="list list-inset">
		    <label class="item item-input">
		    	<input type="email" placeholder="Email" ng-model="login.email">
		    </label>
		  	<label class="item item-input">
		    	<input type="password" placeholder="Password" ng-model="login.password">
		  	</label>
		</div>
		<button class="button button-block button-positive" ng-click="logUserIn()">Log In</button>
		<a ui-sref="signup">Sign Up</a>
		<a ui-sref="forgot">Forgot Password</a>
    </ion-content>
</ion-view>