<ion-view view-title="Sign Up" hide-nav-bar="true">
  	<ion-content>
  		<div class="logo">
    		<img src="assets/images/streetview-logo.png">
    	</div>
  		<div class="list list-inset">
		  	<label class="item item-input">
		    	<input type="email" placeholder="Enter Your Email" ng-model="newUser.email">
		  	</label>
		  	<label class="item item-input">
		    	<input type="password" placeholder="Enter a Password" ng-model="newUser.password">
		  	</label>
		</div>
		<button class="button button-block button-positive" ng-click="createUser()">Sign Up</button>
		<a class="already-account" ui-sref="login">Already Have an Account?</a>
 	</ion-content>
</ion-view>