<ion-view view-title="Add View">
  <ion-nav-buttons side="left">
    <a ui-sref="tab.views-list" class="button button-clear">Cancel</a>
  </ion-nav-buttons>
  <ion-content>
  	<button class="button button-stable">
  		Take Photo
  	</button>
  	<div class="list">
  		<label class="item item-input item-select">
		    <div class="input-label">
		      Art Type
		    </div>
		    <select ng-model="view.artType">
		    	<option ng-repeat="type in types" value="{{type}}">{{type}}</option>
		    </select>
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Description</span>
		    <input type="text" placeholder="Description" ng-model="view.description">
		  </label>
		</div>
		<button class="button button-block button-positive" ng-click="uploadView()">
		  Submit
		</button>
  </ion-content>
</ion-view>