<ion-view view-title="" ng-init="getDetail()">
	<ion-nav-buttons side="left">
    	<a class="button button-clear icon-left ion-chevron-left" ui-sref="tab.views-list">Back</a>
  	</ion-nav-buttons>
  	<ion-nav-buttons side="right">
    	<a class="button button-clear" ui-sref="tab.views-edit({ id:viewDetail.$id })" ng-show="currentUser.email === viewDetail.userEmail">Edit</a>
  	</ion-nav-buttons>
	<ion-content>
		<div class="image-container">
			<img ng-src="{{viewDetail.photoURL}}" class="image">
		</div>
		<div class="view-info">
			<h2 class="view-title">{{viewDetail.description}}</h2>
			<div class="uploader-info">
				<div class="avatar-thumbnail">
					<img ng-src="{{viewDetail.userAvatar}}">
				</div>
				<p class="uploader-text">Uploaded by {{viewDetail.userDisplay}}</p>
			</div>
		</div>
		<button class="button button-outline button-stable button-block bottom-buffer" ng-click="likeView()"><i class="icon ion-thumbsup"></i> <ng-pluralize count="viewDetail.likeCount" when="{'1': '1 Like', 'other': '{{viewDetail.likeCount}} Likes'} "></ng-pluralize></button>
	</ion-content>
</ion-view>